   <h1><%=header%></h1>

 <ul class="list-group">
  <% articles.forEach(function(article){%>


    <li class="list-group-item"><a href="/article/<%=article._id%>"><%=article.title%></a></li>

  <%})%>


</ul>
